body {
    /* background-color: rgb(153, 255, 0); */
}
#chat {
    width: 98%;
    height: 350px;
    margin: 6pt;
    margin-left: 0;
    overflow-y: auto; 
    display: flex;
    flex-direction: column-reverse;
}
#chat::-webkit-scrollbar {
    display: none;
}

#chat hr {
    border: dashed 0.125pc rgba(219, 219, 219, 1);
}
#chat li {
    /* background-color: hsl(196, 58%, 93%); */
    width: max-content;
    max-width: 95%;
    background-color: #000000d8;
    border: dashed 0.20pc rgba(219, 219, 219, 0.831);
    font-family: "Source Code Pro", monospace;
    font-size: 18pt;
    color: #fff;
    box-sizing: border-box;
    padding: 6pt 12pt;
    margin-bottom: 6pt;
}
#chat p {
    /* background-color: hsl(196, 58%, 93%); */
    font-family: "Source Code Pro", monospace;
    font-size: 18pt;
    color: #fff;
    box-sizing: border-box;
    padding: 0px 0px;
    margin-top: 6pt;
    margin-left: 6pt;
    margin-right: 6pt;
}

#chat ul {
    padding: 0;
    margin: 6pt;
    list-style-type: none;
    list-style-position: outside;
}